.deps
*.a
*.o
*.Po

*.scan
autoscan*
Makefile.am.*
aclocal.m4
autom4te.cache
configure
Makefile.in
sysconfig.h
.dirstamp
compile
depcomp
INSTALL
install-sh
Makefile
missing

config.log
config.mak
config.status
config.guess
config.sub

wx-resources.cpp
pcem
